$main-color: #535353;
$secondary-color: #727171;
$pure-white: #fff;
$light-white: rgb(218, 216, 216);
$dark: #2e2e2e;
$green-color: rgb(42,10,184);
$green-color-hover:rgb(36, 9, 156);
$green-color-new: rgb(112,112,112);
$green-color-hover-new:rgb(83, 83, 83);

$light-blue-gradient: linear-gradient(45deg, rgba(170, 170, 170, 0.75), rgba(112, 112, 112, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(114, 111, 111, 0.75), rgba(67, 33, 219, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(139, 139, 139, 0.75), rgba(92, 35, 250, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgba(114, 111, 111, 0.95), rgba(42, 10, 184, 0.95));
$light-blue-gradient-solid: linear-gradient(45deg, rgb(138, 136, 136), rgb(90, 58, 230));